<div class="main">
    <app-navbar></app-navbar>
    <div class="services">
        <div class="card">
            <div class="card-header">
                <div><h3>01</h3></div>
                <div class="svg-element">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                  </svg>
                </div>
            </div>
            <div class="card-body">
                <h4>{{"Web_Developement" | translate}}</h4>
            </div>
            <div class="card-description">
                <h6>
                    Spring Boot, Angular, Java, TypeScript, MySQL, Mongo DB, 
                    Git, GitHub, BootStrap, Tailwind, HTML, CSS
                </h6>
            </div>
            <div class="bottom-line">

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div><h3>02</h3></div>
                <div class="svg-element">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                  </svg>
                </div>
            </div>
            <div class="card-body">
                <h4>{{"UX/UI_Designer" | translate}}</h4>
            </div>
            <div class="card-description">
                <h6>
                    Figma, PhotoShop, CANVA
                </h6>
            </div>
            <div class="bottom-line">

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div><h3>03</h3></div>
                <div class="svg-element">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                  </svg>
                </div>
            </div>
            <div class="card-body">
                <h4>{{"2D/3D_Designer" | translate}}</h4>
            </div>
            <div class="card-description">
                <h6>
                    AutoCad, SketshUp
                </h6>
            </div>
            <div class="bottom-line">

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div><h3>04</h3></div>
                <div class="svg-element">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
                  </svg>
                </div>
            </div>
            <div class="card-body">
                <h4>{{"Video_Editing" | translate}}</h4>
            </div>
            <div class="card-description">
                <h6>
                    Adobe Premier Pro
                </h6>
            </div>
            <div class="bottom-line">

            </div>
        </div>
    </div>
</div>