.main{
    width: 100%;
    height: 100%;
    padding: 20px;    
}
h3{
    margin-bottom: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
}
.item{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.card {
    width: 48%;
    flex: 1 0 250px;
    /* height: 48%; */
}
.date h5{
    color: #4FD1C5;
}
.title h6{
    font-weight: bold;
    margin-bottom: 6px;
}
.description h6{
    margin-bottom: 12px;
}
.details::-webkit-scrollbar {
    width: 12px; 
}

.details::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.details::-webkit-scrollbar-thumb {
    background-color: #4FD1C5;
    border-radius: 10px;
}
.details {
    scrollbar-color: #4FD1C5 #f1f1f1; 
    scrollbar-width: thin;
}
/* Medium and small screens (767px) */
@media screen and (max-width: 767px) {
    .main{
        width: 100%;
        height: 100%;   
        padding-top: 0px;
    }
    .details{
        max-height: 250px;
    }
    .item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
        flex: 1 0 150px;
    }
}