<div class="main">
    <div><h3>{{"My_Experience" | translate}}</h3></div>
    <div class="details">
        <div class="item">
            <div class="card" *ngFor="let experience of allResumeExperience; ">
                <div class="date">
                    <h5>{{experience.date| translate}}</h5>
                </div>
                <div class="title">
                    <h6>
                        {{experience.title| translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6>
                        {{experience.description| translate}}
                    </h6>
                </div>
            </div>
            <!-- <div class="card">
                <div class="date">
                    <h5>
                        {{"Juin_2024" | translate}}
                    </h5>
                </div>
                <div class="title">
                    <h6>
                        {{"Training_project" | translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6>
                        {{"SPORTSCAPE_Description" | translate}}
                    </h6>
                </div>
            </div> -->
        </div>
        <!-- <div class="item">
            <div class="card">
                <div class="date">
                    <h5>
                        {{"March_2024" | translate}}
                    </h5>
                </div>
                <div class="title">
                    <h6>
                        {{"Training_UX_UI_DESIGN" | translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6> 
                        {{"UX_UI_Description" | translate}}
                    </h6>
                </div>
            </div>
            <div class="card">
                <div class="date">
                    <h5>
                        {{"January_2023_until_end_of_October_Djerba_Tunisia" | translate}}
                    </h5>
                </div>
                <div class="title">
                    <h6>
                        {{"work" | translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6>
                        {{"AutoCAD_Description" | translate}}
                    </h6>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <div class="date">
                    <h5>
                        {{"January_2023_until_end_of_October_Djerba_Tunisia" | translate}}
                    </h5>
                </div>
                <div class="title">
                    <h6>
                        {{"work" | translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6>
                        {{"Sketchup_Description" | translate}}
                    </h6>
                </div>
            </div>
            <div class="card">
                <div class="date">
                    <h5>
                        {{"February_2022_to_June_2022" | translate}}
                    </h5>
                </div>
                <div class="title">
                    <h6>
                        {{"End-of-study_project" | translate}}
                    </h6>
                </div>
                <div class="description">
                    <h6>
                        {{"Solar_Tracker_Description" | translate}}
                    </h6>
                </div>
            </div>
        </div> -->
    </div>
</div>