<div class="main">
    <div><h3>{{"about_me" | translate}}</h3></div>
    <div class="details">
        <div class="item"><Strong>{{"name" | translate}}: </Strong><h6>&nbsp; BEN KAABAR Achraf</h6></div>
        <div class="item"><Strong>{{"nationality" | translate}} : </Strong><h6>&nbsp; {{"tunisian" | translate}}</h6></div>
        <div class="item"><Strong>WhatsApp : </Strong><h6>&nbsp; +216 23 460 530</h6></div>
        <div class="item"><Strong>Gmail : </Strong><h6>&nbsp; achraf.kaabar&#64;gmail.com</h6></div>
        <div class="item"><Strong>{{"languages" | translate}}: </Strong><h6>&nbsp;{{"french_english" | translate}}</h6></div>
    </div>
</div>